.animate {
    transition: all 1s ease;
}

.blue {
    stroke-width: 2px;
    stroke: #42708d;
    fill: none;

    &-area {
        stroke: none;
        fill: #5cacd7;
    }
}

.money {
    stroke-width: 2px;
    stroke: brokerage.money.stroke;
    fill: none;

    &-fill {
        stroke: none;
        fill: brokerage.money.fill;
    }
}

.depo {
    stroke-width: 2px;
    stroke: brokerage.depo.stroke;
    fill: none;

    &-fill {
        stroke: none;
        fill: brokerage.depo.fill;
    }
}


.free {
    stroke-width: 2px;
    stroke: brokerage.chart.forts.amount;
    fill: none;

    &-fill {
        stroke: none;
        fill: brokerage.chart.forts.free.fill;
    }
}


.blocked {
    stroke-width: 2px;
    stroke: brokerage.chart.forts.amount;
    fill: none;

    &-fill {
        stroke: none;
        fill: brokerage.chart.forts.blocked.fill;
    }
}

.grey {
    stroke-width: 2px;
    stroke: #C9C9C9;
    fill: none;

    &-fill {
        stroke: none;
        fill: #C9C9C9;
    }
}

.amount {
    stroke-width: 2px;
    stroke: brokerage.chart.forts.amount;
    fill: none;
}

.lineGradient {
    stroke-width: 2px;
    fill: none;
}

.quantity{

    &-fill {
        fill: grey.2;
    }
}
