.wrapper {
    position: relative;
}

.stubForFF{
    overflow: hidden;
}
.chart {
    display: block;
    width: 100%;
    padding: 12px 0 30px;
    overflow: visible !important; /*dependence with class stubForFF. FF with overflow: hidden - hide all in padding*/
}

.chart * {
    pointer-events: none;
}

.tooltip {
    position: absolute;
    top: 12px;
    bottom: 30px;
    background: rgba(0,0,0,.03);
    z-index: 4;
}

.forecast {
    padding: 0;
    display: table-cell;
    /*position: relative;*/

    width: 28px;
}

.markDate {
    position: absolute;
    right: 0;
    white-space: nowrap;
    text-align: center;
    font-size: 11px;
    bottom: 0;
}
.container{
    position: relative;
    display: table;
    width: 100%;
    /*z-index: 99;*/
    .canvas{
        display: table-cell;
    }
}

:local {
    .loaderContainer {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 5;
        text-align: center;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.9);
        border: solid 1px #f2f2f2;
        font-size: 12px;
        line-height: 1.25;
        h1 {
            margin-top:15px;
        }
        &-loading {
            top: 47px;
            width: 152px;
            height: 114px;
        };
        &-delayed {
             top: 27px;
             width: 294px;
             height: 155px;
        };
        &-errors {
             top: 47px;
             width: 236px;
             height: 113px;
        };
    }
    .loader {
        font-size: 62px;
    }
    .refreshButton {
        width: 139px;
        height: 32px;
        background-color: #ffffff;
        border-style: solid;
        border-width: 1px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
        margin: 17px auto 0;
        color: #000000;
        font-size: 14px;
        letter-spacing: 0.3px;
        line-height: 14px;
        &:hover {
            color: #000000;
            background-color: #e1e1e1;
        }
    }
    .errorMessage {
        margin: 23px auto 0;

    }
}
