:local {
$tipSize:5px;
$tipOffset:4px;

.forecast {
    background-color: transparent;
    z-index: 3;
    position: absolute;
    top: 12px;
    bottom: 30px;
    width: 28px;
    border-left: 1px dashed grey.1;

    &:hover {
        background-color: rgba(0, 0, 0, 0.03);
    }
    &:hover .forecastItem * {
        visibility: visible;
        opacity: 1;
        pointer-events: all;
    }
}
.forecastItem {
    height: 2px;
    position: absolute;
    width: 18px;
    pointer-events: none;

    :global(.core-money__currency){
        display: none;
    }

    * {
        opacity: 0;
        visibility: hidden;
    }
}
.tooltipTitle{
    color: rgba(0, 0, 0, 0.7);
    font-size: 15px;
    margin: 1px 0;
}
.tooltipValue{
    font-size: 15px;
    color: #000;
}

.tooltipDate{
    color:rgba(0, 0, 0, 0.4);
    font-size:11px;
}

.money{
    /* зелёный */
    background-color: brokerage.money.stroke;
}
.total{
    /* тёмно-синий */
    background-color: #42708d;
}
.depo{
    /* голубой */
    background-color: brokerage.depo.stroke;
}
.quantity {
    /* серый */
    background-color: #9D9D9D;
}

.tooltip_money{
    /* зелёный */
    border: 1px solid brokerage.money.stroke;
    color: #84b455;
    left: $tipOffset;
    margin-left: 100%;
    bottom: -7px;
    &:before{
        top: 50%;
        left: -$tipOffset;
        border-top: 1px solid brokerage.money.stroke;
        border-left: 1px solid brokerage.money.stroke;
        width: $tipSize;
        height: $tipSize;
        transform: rotate(-45deg);
    }
}

.tooltip_depo{
    /* голубой */
    border: 1px solid brokerage.depo.stroke;
    color: #5699be;
    right: $tipOffset;
    margin-right: 100%;
    bottom: -7px;
    &:before{
        top: 50%;
        right: -$tipOffset;
        border-top: 1px solid brokerage.depo.stroke;
        border-left: 1px solid brokerage.depo.stroke;
        width: $tipSize;
        height: $tipSize;
        transform: rotate(135deg);
    }
}

.tooltip_total{
    /* тёмно-синий */
    border: none !important;
    border-radius:3px !important;
    margin-bottom: 7px !important;
    bottom: 100% !important;
    left: $tipOffset !important;
    margin-left: 100% !important;
    padding:5px 7px !important;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.12) !important;
    &:before{
        display: none !important;
    }
}
.difference{
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.5);
}
.portfolio{
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
}

}
