:local .tooltips {}


:local .mark {
    position: absolute;
    border-right: 1px solid caution;
    height: 100%;
}

:local {

    .position {
        position: absolute;
        bottom: 50%;
        right: 0;
        z-index: 1;
        margin: 0;
        width: 100%;
        height: 0;
        overflow: visible;
        margin-right: -1px;

        &:hover .container {
            display: block;
        }

        &:hover {
            z-index: 2;
        }
    }

    .container {
        position: absolute;
        bottom: 50%;
        left: 100%;
        background: #fff;
        box-shadow: 0 2px 8px rgba(0,0,0,.5);
        width: 180px;
        border-radius: 6px;
        margin: 0 0 9px 8px;

        .pointersmallborder {
            display: none;
        }
    }

    .containersmall {
        position: absolute;
        top: 50%;
        left: 100%;
        background: #fff;
        box-shadow: 0 2px 8px rgba(0,0,0,.5);
        width: auto;
        border-radius: 3px;
        margin: 0 0 0px 6px;
        transform: translateY(-50%);

        .date {
            display: none;
        }

        .title {
            display: none;
        }
    }

    .content {
        position: relative;
        border-radius: 6px;
        padding: 8px 12px;
        background: #fff;
        z-index: 1;
    }

    .contentsmall {
        position: relative;
        border-radius: 2px;
        padding: 3px;
        background: #fff;
        z-index: 1;
    }

    .date {
        font-size: 11px;
        color: grey.3;
        margin: 0;
        padding: 0 0 4px;
    }

    .title {
        color: #000;
        font-size: 14px;
        font-weight: bold;
        margin: 0;
        padding: 0 0 4px;
    }

    .amount {
        color: #000;
        font-size: 14px;
        margin: 0;
        padding: 0;
    }

    .pointer {
        position: absolute;
        left: -8px;
        bottom: -7px;
        fill: #fff;
        stroke: #000;
    }
    .pointersmall {
        position: absolute;
        left: -4px;
        bottom: 1px;
        z-index: 1;
    }

    .pointersmallborder {
        position: absolute;
        left: -6px;
        bottom: 1px;
        z-index: 0;
    }

    .left {
        left: auto;
        right: 1px;

        margin: 0 6px 0px 0;
        transform: translateY(-50%);

        .pointersmall {
            left: auto;
            right: -4px;
        }

        .pointersmallborder {
            left: auto;
            right: -6px;
        }
    }

    .depo {
        .amount {
            font-size: 11px;
        }

        .amount, :global(.core-money__currency) {
            color: brokerage.depo.fill;
        }

        .contentsmall {
            background: #fff;
            border: 1px solid brokerage.depo.fill;
        }
        .pointersmall {
            fill: #fff;
        }
    }

    .money {
        .amount {
            font-size: 11px;
        }

        .amount, :global(.core-money__currency) {
            color: brokerage.money.fill;
        }

        .contentsmall {
            background: #fff;
            border: 1px solid brokerage.money.fill;
        }
        .pointersmall {
            fill: #fff;
        }
    }

    .blocked {
        .amount {
            font-size: 11px;
        }

        .amount, :global(.core-money__currency) {
            color: #666;
        }

        .contentsmall {
            background: #fff;
            border: 1px solid brokerage.blocked.fill;
        }

        .pointersmall {
            fill: #fff;
        }
    }
    .free {
        .amount {
            font-size: 11px;
        }

        .amount, :global(.core-money__currency) {
            color: brokerage.free.fill;
        }

        .contentsmall {
            background: #fff;
            border: 1px solid brokerage.free.fill;
        }

        .pointersmall {
            fill: #fff;
        }
    }
    .empty {}

}
