$indent: 60px;

:local .axis {
    &:after {
        content: '';
        position: absolute;
        left: 0;
        width: $indent;
        height: 100%;
        background: #FFF;
        opacity: 0.7;
        top: 0;
    }
}
:local .axisY {
    position: absolute;
    top: 0;
    width: calc(100% - $indent);
    height: 125%;
    padding: 0;
    margin: 0;
    margin-left: $indent;
    display: table;
    z-index: 2;

    &-row {
        display: table-row;
    }
    &-mark {
        display: table-cell;
        border-top: 1px solid rgba(0,0,0,.05);
        position: relative;
    }
    &-title {
        opacity: 0.5;
        font-size: 11px;
        display: inline-block;
        position: absolute;
        top: -7px;
        z-index: 1;
        margin-left: calc(-$indent + 10px);
    }
}

:local .axisX {
    overflow: hidden;
    position: relative;
    height: 20px;
    width: 100%;
    &:before {
        content: '';
        width: 70px;
        height: 100%;
        position: absolute;
        left: 0;
        background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
        z-index: 2;
    }
    &:after {
        content: '';
        width: 20px;
        height: 100%;
        position: absolute;
        right: 0;
        background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        z-index: 2;
    }
    &-scala {
        height: 20px;
        position: absolute;
        text-align: right;
        &-bar {
            text-align: center;
            display: inline-block;
            vertical-align: top;
            &-value {
                opacity: 0.5;
                top: 0;
                display: inline-block;
                position: relative;
                vertical-align: top;
                font-size: 11px;
                padding-top: 7px;
                &:before {
                    content: '';
                    top: 0;
                    font-size: 11px;
                    position: absolute;
                    left: 50%;
                    width: 1px;
                    height: 5px;
                    background: #000;
                }
            }
        }
    }
}

.x {
    pointer-events: none;

    &-group {
    }

    &-mark {
        fill: rgba(0,0,0,.4);
    }

    &-title {
        font-size: 11px;
        fill: rgba(0,0,0,.4);
    }
}

.y {
    &-backdrop {
        fill: rgba(255,255,255,.9);
    }

    &-gridline {
        fill: rgba(0,0,0,.05);
    }

    &-group {
    }

    &-mark {
        fill: rgba(0,0,0,.4);
    }

    &-title {
        font-size: 11px;
        fill: rgba(0,0,0,.4);
    }
}
