.container {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    height: 0;
    z-index: 1;

    &.x {
        z-index: 0;
    }
}

.level {
    left: 5px;
    right: 5px;

    &.depo {
        border: 1px solid brokerage.depo.fill;
        background: brokerage.depo.fill;
    }

    &.money {
        border: 1px solid brokerage.money.fill;
         background: brokerage.money.fill;
    }

    &.total {
        border: 1px solid #42708d;
        background: #42708d;
        z-index: 10; /*if depo or money is equal with total, total line in forecast must be much priority*/
    }

    &.quantity {
        border: 1px solid grey.2;
    }

    .small-tooltip {
        right: 100%;
        right: calc(100% + 5px);
        top: -11px;
    }
}

.date-tooltip {
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.9) 20%, rgba(255,255,255,1) 50%, rgba(255,255,255,.9) 80%, rgba(255,255,255,0) 100%);
    width: 70px;
    margin: 1px 0 0 -35px;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    white-space: nowrap;

    &:before {
        content: '';
        display: block;
        height: 5px;
        width: 1px;
        margin: 0 auto;
        background: #000;
    }
}

.small-tooltip {
    position: absolute;
    background: #fff;
    right: 4px;
    top: -10px;
    white-space: nowrap;
    border-radius: 2px;
    border: 1px solid #fff;
    padding: 3px 5px 5px;
    font-size: 11px;
    line-height: 12px;

    &:hover {
        z-index: 1;
    }

    &.depo {
        border-color: brokerage.depo.fill;
        color: brokerage.depo.fill;
    }

    &.money {
        border-color: brokerage.money.fill;
        color: brokerage.money.fill;
    }

    &.blue {
         border-color: #42708d;
         color: #42708d;
     }

    &.blocked {
        border-color: brokerage.chart.forts.blocked.accent;
        color: brokerage.chart.forts.blocked.accent;
    }

    &.free {
        border-color: brokerage.chart.forts.free.accent;
        color: brokerage.chart.forts.free.accent;
    }

    &.quantity {
        border-color: grey.2;
    }

    &.varmargin {
        border-color: brokerage.chart.forts.free.accent;
        color: brokerage.chart.forts.free.accent;

        &.negative {
            border-color: red;
            color: red;
        }
    }

    &.top {
        top: auto;
        bottom: 0;

        .small-pointer {
            top: auto;
            bottom: -1px;
        }
    }

    &.bottom {
        top: 0;

        .small-pointer {
            top: -1px;
        }
    }
}

.small-pointer {
    position: absolute;
    top: 5px;
    right: -4px;

    &-content {
        stroke-width: 1px;
        fill: #fff;

        &.blue {
            stroke: #42708d;
        }

        &.depo {
            stroke: brokerage.depo.fill;
        }

        &.money {
            stroke: brokerage.money.fill;
        }

        &.blocked {
            stroke: brokerage.chart.forts.blocked.accent;
        }

        &.free {
            stroke: brokerage.chart.forts.free.accent;
        }

        &.quantity {
            stroke: grey.2;
        }

        &.varmargin {
             -moz-transition-property: none !important;
             -webkit-transition-property: none !important;
             -o-transition-property: none !important;
             transition-property: none !important;
             stroke: brokerage.chart.forts.free.accent;

            &.negative {
                stroke: red;
                 transition: color 0s;
            }
        }
    }
}

.large-tooltip {
    position: absolute;
    background: #fff;
    left: 100%;
    margin: 8px 4px;
    bottom: 0;
    border-radius: 3px;
    border: 1px solid #fff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
    padding: 8px 12px;
    min-width: 70px;
    z-index: 1000;
    &:hover {
        z-index: 1;
    }
}

.large-pointer {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: -4px;
    margin-bottom: -8px;

    &-content {
        stroke-width: 1px;
        fill: #fff;
        stroke: grey.0;
    }
}

.date {
    display: block;
    font-size: 11px;
    line-height: 1.8;
    color: grey.1;
    white-space: nowrap;
}

.difference {
    white-space: nowrap;
    padding-left: .5em;
    color: grey.3;

    &.positive:before {
        content: '+';
        display: inline-block;
        padding-right: .1em;
    }
}

.title {
    display: block;
    white-space: nowrap;
}

.value {
    white-space: nowrap;
}
